.contact__btn {
  color: rgb(0, 17, 70);
  font-size: 100%;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  background-color: white;
}
.contact__btn:hover {
  background-color: rgb(0, 17, 70);
  color: white;
}

@keyframes animation {
  from {
    left: 20%;
    opacity: 0.1;
  }
  to {
    left: -10%;
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
}

.centerDiv, .general-questions, .average-section, .advanced-cyber-security__text-area, .why-choose-us .offer-cards .offer-card article .icon-rounded-area, .why-choose-us .offer-cards .offer-card, .why-choose-us .offer-cards, .why-choose-us, .events-section .events-box__heading, .events-section ul, header nav ul, .contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header {
  padding: 10px 0;
  background-color: rgb(5, 3, 41);
}
header .header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-content .logo img {
  width: 70%;
  margin-top: 2vh;
}
header nav {
  width: 400px;
}
header nav ul li {
  list-style: none;
}
header nav ul li:hover {
  cursor: pointer;
}
header nav ul li a {
  color: white;
  text-decoration: none;
}
header nav ul li i {
  color: white;
  font-size: 10px;
}
header nav .dropdown {
  position: relative;
  display: inline-block;
}
header nav .dropdown::before {
  position: absolute;
  content: "";
  width: 150%;
  height: 45%;
  top: 100%;
}
header nav .dropdown__content {
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: none;
  position: absolute;
  left: -10%;
  top: 150%;
  transform: translate(-10%);
  background-color: white;
  width: 160px;
  z-index: 1;
  animation: animation 0.8s forwards;
}
header nav .dropdown__content ul {
  display: flex;
  flex-direction: column;
}
header nav .dropdown__content ul li a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
header nav .dropdown__content ul li a:hover {
  color: red;
}
header nav .dropdown:hover .dropdown__content {
  display: block;
  transition: all 4s;
}
header nav .dropdown:hover i {
  transform: rotate(180deg);
}

@font-face {
  font-family: "Jost-SemiBold600";
  src: url(../../../assets/fonts/Jost-Medium.ttf);
}
.events-section {
  height: 50vh;
  background-color: rgb(5, 3, 41);
  padding: 10vh 60px 10vh 60px;
  font-size: 14px;
  font-family: "Jost-SemiBold600";
}
.events-section ul {
  gap: 30px;
  padding-inline: 35px;
}
.events-section .events-box {
  padding-right: 12px;
  height: 25vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
  border-right: 1px dashed white;
}
.events-section .events-box:hover {
  cursor: pointer;
  color: rgb(84, 106, 123);
}
.events-section .events-box:hover__heading {
  background-color: rgb(49, 69, 84);
  color: white;
}
.events-section .events-box:last-child {
  border-right: none;
}
.events-section .events-box__heading {
  font-size: 16px;
  width: 130px;
  height: 5vh;
  background-color: white;
  color: rgb(5, 3, 41);
}
.events-section .events-box li {
  list-style: none;
}

.why-choose-us {
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: rgb(5, 3, 41);
  color: white;
}
.why-choose-us h1 {
  font-size: 40px;
  padding-bottom: 30px;
}
.why-choose-us .offer-cards {
  flex: wrap;
  max-width: calc(100% - 150px);
  gap: 30px;
  padding-top: 60px;
}
.why-choose-us .offer-cards .offer-card {
  border: 1px solid white;
  border-radius: 10px;
  height: 60vh;
  position: relative;
}
.why-choose-us .offer-cards .offer-card:hover {
  cursor: pointer;
}
.why-choose-us .offer-cards .offer-card:hover .icon-rounded-area i {
  color: rgb(5, 3, 41);
}
.why-choose-us .offer-cards .offer-card:hover .icon-rounded-area {
  background-color: white;
}
.why-choose-us .offer-cards .offer-card article {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 40px 30px 0 30px;
  gap: 10px;
}
.why-choose-us .offer-cards .offer-card article h1 {
  white-space: wrap;
  height: 92px;
  text-overflow: ellipsis;
  padding-top: 20px;
}
.why-choose-us .offer-cards .offer-card article p {
  padding-top: 20px;
}
.why-choose-us .offer-cards .offer-card article a {
  text-decoration: none;
  color: white;
  margin-top: 20px;
}
.why-choose-us .offer-cards .offer-card article a:hover {
  text-decoration: underline;
}
.why-choose-us .offer-cards .offer-card article .icon-rounded-area {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  background-color: gray;
  position: absolute;
  top: 30px;
  left: 30px;
}
.why-choose-us .offer-cards .offer-card article .icon-rounded-area i {
  font-size: 40px;
  opacity: 0.5;
}

.advanced-cyber-security {
  display: flex;
  background-color: rgb(5, 3, 41);
  color: white;
  padding-top: 50px;
}
.advanced-cyber-security__image {
  width: 50%;
  padding: 10vh 5%;
}
.advanced-cyber-security__text-area {
  width: 50%;
}
.advanced-cyber-security__text-area article {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 50px;
}
.advanced-cyber-security__text-area article h1 {
  font-size: 50px;
}

.average-section {
  width: 100%;
  height: 50vh;
  background-color: rgb(5, 3, 41);
}
.average-section__cards {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 50px 0 50px;
}
.average-section__card {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 0 20px 0 20px;
  width: 20%;
  height: 40vh;
  border: 1px solid white;
  color: white;
  gap: 20px;
}
.average-section__card i {
  font-size: 50px;
  color: gray;
}
.average-section__card h1 {
  font-size: 50px;
}
.average-section__card p {
  font-size: 20px;
  color: gray;
}

.general-questions {
  background-color: rgb(5, 3, 41);
  padding-top: 10vh;
}
.general-questions__side {
  width: 50%;
  padding-right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  color: white;
}

.accordions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}
.accordions .accordion {
  width: 90%;
}
.accordions .question {
  border: 1px solid rgba(211, 211, 211, 0.482);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  height: 12vh;
  padding: 5px 15px;
  cursor: pointer;
}
.accordions .answer {
  padding-left: 10px;
  padding: 10px 15px;
  display: none;
}

.accordion.active .answer {
  transition: all 0.3s;
  display: block;
}
.accordion.active .icon {
  transform: rotate(90deg);
  transition: all 0.3s;
}/*# sourceMappingURL=main.css.map */