* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
}

.contact__btn {
  color: rgb(0, 17, 70);
  font-size: 100%;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  background-color: white;
}
.contact__btn:hover {
  background-color: rgb(0, 17, 70);
  color: white;
}

@keyframes animation {
  from {
    left: 20%;
    opacity: 0.1;
  }
  to {
    left: -10%;
    opacity: 1;
  }
}
.centerDiv, .advanced-cyber-security__text__area, .why__choose__us .offer__cards .offer__card article .icon__rounded__area, .why__choose__us .offer__cards .offer__card, .why__choose__us .offer__cards, .why__choose__us, .events__section .events__box__heading, .events__section ul, header nav ul, .contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header {
  padding: 10px 0;
}
header .header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-content .logo img {
  width: 70%;
  margin-top: 2vh;
}
header nav {
  width: 400px;
}
header nav .navigation {
  display: flex;
  align-items: center;
  gap: 35px;
}
header nav .navigation li {
  list-style: none;
}
header nav .navigation li:hover {
  cursor: pointer;
}
header nav .navigation li a {
  color: white;
  text-decoration: none;
}
header nav .navigation li i {
  color: white;
  font-size: 10px;
}
header nav .dropdown {
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
}
header nav .dropdown a {
  font-size: 18px;
}
header nav .dropdown i {
  font-size: 12px;
}
header nav .dropdown::before {
  position: absolute;
  content: "";
  width: 150%;
  height: 45%;
  top: 100%;
}
header nav .dropdown__content {
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: none;
  position: absolute;
  left: -10%;
  top: 150%;
  transform: translate(-10%);
  background-color: white;
  width: 160px;
  z-index: 1;
  animation: animation 0.8s forwards;
}
header nav .dropdown__content ul {
  display: flex;
  flex-direction: column;
}
header nav .dropdown__content ul li a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
header nav .dropdown__content ul li a:hover {
  color: red;
}
header nav .dropdown:hover .dropdown__content {
  display: block;
  transition: all 4s;
}
header nav .dropdown:hover i {
  transform: rotate(180deg);
  transition: all 0.5;
}

@font-face {
  font-family: "Jost-SemiBold600";
  src: url(../../../assets/fonts/Jost-Medium.ttf);
}
body {
  background: rgb(11, 14, 38);
  background: linear-gradient(180deg, rgb(11, 14, 38) 0%, rgb(10, 7, 75) 46%, rgb(30, 32, 77) 100%);
}

.events__section {
  height: 50vh;
  padding: 10vh 60px 10vh 60px;
  font-size: 14px;
  font-family: "Jost-SemiBold600";
}
.events__section ul {
  gap: 30px;
  padding-inline: 35px;
}
.events__section .events__box {
  padding-right: 12px;
  height: 25vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
  border-right: 1px dashed white;
}
.events__section .events__box:hover {
  cursor: pointer;
  color: rgb(84, 106, 123);
}
.events__section .events__box:hover .events__box__heading {
  background-color: rgb(49, 69, 84);
  color: white;
}
.events__section .events__box:last-child {
  border-right: none;
}
.events__section .events__box__heading {
  font-size: 16px;
  width: 130px;
  height: 5vh;
  background-color: white;
  color: rgb(5, 3, 41);
}
.events__section .events__box li {
  list-style: none;
}

.why__choose__us {
  flex-direction: column;
  width: 100%;
  height: 100vh;
  color: white;
}
.why__choose__us h1 {
  font-size: 40px;
  padding-bottom: 30px;
}
.why__choose__us .offer__cards {
  flex: wrap;
  max-width: calc(100% - 150px);
  gap: 30px;
  padding-top: 60px;
}
.why__choose__us .offer__cards .offer__card {
  border: 1px solid white;
  border-radius: 10px;
  height: 60vh;
  position: relative;
}
.why__choose__us .offer__cards .offer__card:hover {
  cursor: pointer;
}
.why__choose__us .offer__cards .offer__card:hover .icon__rounded__area i {
  color: rgb(5, 3, 41);
}
.why__choose__us .offer__cards .offer__card:hover .icon__rounded__area {
  background-color: white;
}
.why__choose__us .offer__cards .offer__card article {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 40px 30px 0 30px;
  gap: 10px;
}
.why__choose__us .offer__cards .offer__card article h1 {
  white-space: wrap;
  height: 92px;
  text-overflow: ellipsis;
  padding-top: 20px;
}
.why__choose__us .offer__cards .offer__card article p {
  padding-top: 20px;
}
.why__choose__us .offer__cards .offer__card article a {
  text-decoration: none;
  color: white;
  margin-top: 20px;
}
.why__choose__us .offer__cards .offer__card article a:hover {
  text-decoration: underline;
}
.why__choose__us .offer__cards .offer__card article .icon__rounded__area {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  background-color: gray;
  position: absolute;
  top: 30px;
  left: 30px;
}
.why__choose__us .offer__cards .offer__card article .icon__rounded__area i {
  font-size: 40px;
  opacity: 0.5;
}

.advanced-cyber-security {
  color: white;
  padding-top: 50px;
}
.advanced-cyber-security__content {
  display: flex;
  justify-content: space-between;
}
.advanced-cyber-security__image {
  width: 50%;
}
.advanced-cyber-security__text__area {
  width: 50%;
}
.advanced-cyber-security__text__area article {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 50px;
}
.advanced-cyber-security__text__area article h1 {
  font-size: 50px;
}/*# sourceMappingURL=main.css.map */