@import '../utils/variables';

@font-face {
    font-family: "Jost-SemiBold600";
    src: url(../../../assets/fonts/Jost-Medium.ttf);;
}

.events__section{
    height: 50vh;
    background-color: $main-color;
    padding: 10vh 60px 10vh 60px;
    font-size: 14px;
    font-family: "Jost-SemiBold600";
    ul{
        @extend .centerDiv;
        gap: 30px;
        padding-inline: 35px;
    }
    .events__box{
        padding-right: 12px;
        height: 25vh;
        display: flex;
        flex-direction: column;
        gap: 20px;
        color: white;
        border-right: 1px dashed white;
        &:hover{
            cursor: pointer;
            color:rgb(84,106,123);
            .events__box__heading{
                background-color: rgb(49, 69, 84);
                color: white;
            }
        }
        &:last-child{
            border-right: none;
        }
        &__heading{
            font-size: 16px;
            width: 130px;
            height: 5vh;
            @extend .centerDiv;
            background-color: white;
            color: $main-color;
        }
        li{
            list-style: none;
        }
    }

}
