@import "../utils/variables";
@import "../components/button";
@keyframes animation {
  from {
    left: 20%;
    opacity: 0.1;
  }
  to {
    left: -10%;
    opacity: 1;
  }
}

@font-face {
  font-family: "Jost-Regular400";
  src: url(../../../assets/fonts/Jost-Regular.ttf);
}

.centerDiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header {
  padding: 10px 0;
  font-family: "Jost-Regular400";
  margin-bottom: 140px;
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      img {
        width: 65%;
        margin-top: 2vh;
      }
    }
  }

  nav {
    .navigation {
      display: flex;
      align-items: center;
      gap: 45px;
      li {
        list-style: none;
        font-size: 18px;

        &:hover {
          cursor: pointer;
        }
        a {
          color: white;
          text-decoration: none;
        }
        i {
          color: white;
          font-size: 10px;
        }
      }
    }
    .dropdown {
      position: relative;
      display: flex;
      align-items: center;
      gap: 4px;
      i {
        margin-top: 4px;
      }
      &::before {
        position: absolute;
        content: "";
        width: 150%;
        height: 45%;
        top: 100%;
      }

      &__content {
        border-radius: 5px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        display: none;
        position: absolute;
        left: -10%;
        top: 150%;
        transform: translate(-10%);
        background-color: white;
        width: 160px;
        z-index: 1;
        animation: animation 0.8s forwards;
        ul {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 6px 0;
          li {
            a {
              color: black;
              padding: 8px 16px;
              text-decoration: none;
              display: block;
              font-size: 16px;

              &:hover {
                color: red;
              }
            }
          }
        }
      }
      &:hover {
        .dropdown__content {
          display: block;
          transition: all 4s;
        }
        i {
          transform: rotate(180deg);
        }
      }
    }
  }
}
