.elementor-kit-7 {
    --e-global-color-primary: #FFFFFF;
    --e-global-color-secondary: #FFFFFF;
    --e-global-color-text: #999999;
    --e-global-color-accent: #F43334;
    --e-global-color-5e746a7: #C12E2F;
    --e-global-color-6d2c1e2: #FFFEFE;
    --e-global-color-212aa62: #999999;
    --e-global-color-7ce4086: #EB9500;
    --e-global-color-f9b7334: #CA2F30;
    --e-global-color-7e0315f: #202020;
    --e-global-color-c7e0c68: #4A2424;
    --e-global-color-15bb355: #191919;
    --e-global-color-621a596: #777777;
    --e-global-color-a50a99a: #AD2D2D;
    --e-global-color-957fa4a: #101010;
    --e-global-color-ebfae16: #161616;
    --e-global-typography-primary-font-family: "Jost";
    --e-global-typography-primary-font-weight: 600;
    --e-global-typography-primary-line-height: 1.1em;
    --e-global-typography-secondary-font-family: "Jost";
    --e-global-typography-secondary-font-weight: 400;
    --e-global-typography-secondary-line-height: 1.1em;
    --e-global-typography-text-font-family: "Jost";
    --e-global-typography-text-font-size: 18px;
    --e-global-typography-text-font-weight: 400;
    --e-global-typography-text-line-height: 1.5em;
    --e-global-typography-accent-font-family: "Jost";
    --e-global-typography-accent-font-size: 18px;
    --e-global-typography-accent-font-weight: 600;
    --e-global-typography-accent-text-decoration: none;
    --e-global-typography-accent-line-height: 1.1em;
    --e-global-typography-f60c399-font-family: "Jost";
    --e-global-typography-f60c399-font-size: 65px;
    --e-global-typography-f60c399-font-weight: 600;
    --e-global-typography-f60c399-line-height: 1.1em;
    --e-global-typography-f60c399-letter-spacing: -1.4px;
    --e-global-typography-f4c4925-font-family: "Jost";
    --e-global-typography-f4c4925-font-size: 50px;
    --e-global-typography-f4c4925-font-weight: 600;
    --e-global-typography-f4c4925-line-height: 1.1em;
    --e-global-typography-7551361-font-family: "Jost";
    --e-global-typography-7551361-font-size: 40px;
    --e-global-typography-7551361-font-weight: 700;
    --e-global-typography-7551361-line-height: 1.1em;
    --e-global-typography-7551361-letter-spacing: 0.4px;
    --e-global-typography-fc8085a-font-family: "Jost";
    --e-global-typography-fc8085a-font-size: 24px;
    --e-global-typography-fc8085a-font-weight: 700;
    --e-global-typography-fc8085a-line-height: 1.1em;
    --e-global-typography-fc8085a-letter-spacing: 0.4px;
    --e-global-typography-8c31320-font-family: "Jost";
    --e-global-typography-8c31320-font-size: 20px;
    --e-global-typography-8c31320-font-weight: 600;
    --e-global-typography-8c31320-line-height: 1.1em;
    --e-global-typography-00fff5a-font-family: "Jost";
    --e-global-typography-00fff5a-font-size: 12px;
    --e-global-typography-00fff5a-font-weight: 600;
    --e-global-typography-00fff5a-line-height: 1.1em;
    --e-global-typography-97377d1-font-family: "Jost";
    --e-global-typography-97377d1-font-size: 20px;
    --e-global-typography-97377d1-font-weight: 400;
    --e-global-typography-97377d1-line-height: 1.5em;
    --e-global-typography-d067ff2-font-family: "Jost";
    --e-global-typography-d067ff2-font-size: 14px;
    --e-global-typography-d067ff2-font-weight: 400;
    --e-global-typography-d067ff2-line-height: 1.5em;
    --e-global-typography-43708dc-font-family: "Jost";
    --e-global-typography-43708dc-font-size: 16px;
    --e-global-typography-43708dc-font-weight: 400;
    --e-global-typography-43708dc-line-height: 1.5em;
    font-family: var( --e-global-typography-accent-font-family ), Sans-serif;
    font-size: var( --e-global-typography-accent-font-size );
    font-weight: var( --e-global-typography-accent-font-weight );
    text-decoration: var( --e-global-typography-accent-text-decoration );
    line-height: var( --e-global-typography-accent-line-height );
}

.elementor-kit-7 a {
    font-family: var( --e-global-typography-accent-font-family ), Sans-serif;
    font-size: var( --e-global-typography-accent-font-size );
    font-weight: var( --e-global-typography-accent-font-weight );
    text-decoration: var( --e-global-typography-accent-text-decoration );
    line-height: var( --e-global-typography-accent-line-height );
}

.elementor-kit-7 h1 {
    font-family: var( --e-global-typography-f60c399-font-family ), Sans-serif;
    font-size: var( --e-global-typography-f60c399-font-size );
    font-weight: var( --e-global-typography-f60c399-font-weight );
    line-height: var( --e-global-typography-f60c399-line-height );
    letter-spacing: var( --e-global-typography-f60c399-letter-spacing );
    word-spacing: var( --e-global-typography-f60c399-word-spacing );
}

.elementor-kit-7 h2 {
    font-family: var( --e-global-typography-f4c4925-font-family ), Sans-serif;
    font-size: var( --e-global-typography-f4c4925-font-size );
    font-weight: var( --e-global-typography-f4c4925-font-weight );
    line-height: var( --e-global-typography-f4c4925-line-height );
    letter-spacing: var( --e-global-typography-f4c4925-letter-spacing );
    word-spacing: var( --e-global-typography-f4c4925-word-spacing );
}

.elementor-kit-7 h3 {
    font-family: var( --e-global-typography-7551361-font-family ), Sans-serif;
    font-size: var( --e-global-typography-7551361-font-size );
    font-weight: var( --e-global-typography-7551361-font-weight );
    line-height: var( --e-global-typography-7551361-line-height );
    letter-spacing: var( --e-global-typography-7551361-letter-spacing );
    word-spacing: var( --e-global-typography-7551361-word-spacing );
}

.elementor-kit-7 h4 {
    font-family: var( --e-global-typography-fc8085a-font-family ), Sans-serif;
    font-size: var( --e-global-typography-fc8085a-font-size );
    font-weight: var( --e-global-typography-fc8085a-font-weight );
    line-height: var( --e-global-typography-fc8085a-line-height );
    letter-spacing: var( --e-global-typography-fc8085a-letter-spacing );
    word-spacing: var( --e-global-typography-fc8085a-word-spacing );
}

.elementor-kit-7 h5 {
    font-family: var( --e-global-typography-8c31320-font-family ), Sans-serif;
    font-size: var( --e-global-typography-8c31320-font-size );
    font-weight: var( --e-global-typography-8c31320-font-weight );
    line-height: var( --e-global-typography-8c31320-line-height );
    letter-spacing: var( --e-global-typography-8c31320-letter-spacing );
    word-spacing: var( --e-global-typography-8c31320-word-spacing );
}

.elementor-kit-7 h6 {
    font-family: var( --e-global-typography-00fff5a-font-family ), Sans-serif;
    font-size: var( --e-global-typography-00fff5a-font-size );
    font-weight: var( --e-global-typography-00fff5a-font-weight );
    line-height: var( --e-global-typography-00fff5a-line-height );
    letter-spacing: var( --e-global-typography-00fff5a-letter-spacing );
    word-spacing: var( --e-global-typography-00fff5a-word-spacing );
}

.elementor-kit-7 button,.elementor-kit-7 input[type="button"],.elementor-kit-7 input[type="submit"],.elementor-kit-7 .elementor-button {
    color: var( --e-global-color-secondary );
    background-color: var( --e-global-color-accent );
    border-radius: 3px 3px 3px 3px;
    padding: 20px 30px 20px 30px;
}

.elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 1140px;
}

.e-con {
    --container-max-width: 1140px;
}

.elementor-widget:not(:last-child) {
    margin-block-end:20px;}

.elementor-element {
    --widgets-spacing: 20px 20px;
}

{
}

h1.entry-title {
    display: var(--page-title-display);
}

@media(max-width: 1366px) {
    .elementor-kit-7 {
        --e-global-typography-text-font-size:18px;
        --e-global-typography-text-line-height: 1.5em;
        --e-global-typography-accent-font-size: 18px;
        --e-global-typography-accent-line-height: 1.1em;
        --e-global-typography-f60c399-font-size: 50px;
        --e-global-typography-f60c399-line-height: 1.1em;
        --e-global-typography-f4c4925-font-size: 46px;
        --e-global-typography-f4c4925-line-height: 1.1em;
        --e-global-typography-7551361-font-size: 36px;
        --e-global-typography-7551361-line-height: 1.1em;
        --e-global-typography-fc8085a-font-size: 22px;
        --e-global-typography-fc8085a-line-height: 1.1em;
        --e-global-typography-8c31320-font-size: 18px;
        --e-global-typography-8c31320-line-height: 1.1em;
        --e-global-typography-97377d1-font-size: 18px;
        --e-global-typography-97377d1-line-height: 1.5em;
        --e-global-typography-d067ff2-font-size: 14px;
        --e-global-typography-d067ff2-line-height: 1.5em;
        --e-global-typography-43708dc-font-size: 16px;
        --e-global-typography-43708dc-line-height: 1.5em;
        font-size: var( --e-global-typography-accent-font-size );
        line-height: var( --e-global-typography-accent-line-height );
    }

    .elementor-kit-7 a {
        font-size: var( --e-global-typography-accent-font-size );
        line-height: var( --e-global-typography-accent-line-height );
    }

    .elementor-kit-7 h1 {
        font-size: var( --e-global-typography-f60c399-font-size );
        line-height: var( --e-global-typography-f60c399-line-height );
        letter-spacing: var( --e-global-typography-f60c399-letter-spacing );
        word-spacing: var( --e-global-typography-f60c399-word-spacing );
    }

    .elementor-kit-7 h2 {
        font-size: var( --e-global-typography-f4c4925-font-size );
        line-height: var( --e-global-typography-f4c4925-line-height );
        letter-spacing: var( --e-global-typography-f4c4925-letter-spacing );
        word-spacing: var( --e-global-typography-f4c4925-word-spacing );
    }

    .elementor-kit-7 h3 {
        font-size: var( --e-global-typography-7551361-font-size );
        line-height: var( --e-global-typography-7551361-line-height );
        letter-spacing: var( --e-global-typography-7551361-letter-spacing );
        word-spacing: var( --e-global-typography-7551361-word-spacing );
    }

    .elementor-kit-7 h4 {
        font-size: var( --e-global-typography-fc8085a-font-size );
        line-height: var( --e-global-typography-fc8085a-line-height );
        letter-spacing: var( --e-global-typography-fc8085a-letter-spacing );
        word-spacing: var( --e-global-typography-fc8085a-word-spacing );
    }

    .elementor-kit-7 h5 {
        font-size: var( --e-global-typography-8c31320-font-size );
        line-height: var( --e-global-typography-8c31320-line-height );
        letter-spacing: var( --e-global-typography-8c31320-letter-spacing );
        word-spacing: var( --e-global-typography-8c31320-word-spacing );
    }

    .elementor-kit-7 h6 {
        font-size: var( --e-global-typography-00fff5a-font-size );
        line-height: var( --e-global-typography-00fff5a-line-height );
        letter-spacing: var( --e-global-typography-00fff5a-letter-spacing );
        word-spacing: var( --e-global-typography-00fff5a-word-spacing );
    }
}

@media(max-width: 1024px) {
    .elementor-kit-7 {
        --e-global-typography-f60c399-font-size:37px;
        --e-global-typography-f60c399-line-height: 1.1em;
        --e-global-typography-f4c4925-font-size: 34px;
        --e-global-typography-f4c4925-line-height: 1.1em;
        --e-global-typography-7551361-font-size: 30px;
        --e-global-typography-7551361-line-height: 1.1em;
        --e-global-typography-fc8085a-font-size: 20px;
        --e-global-typography-fc8085a-line-height: 1.1em;
        --e-global-typography-8c31320-font-size: 16px;
        --e-global-typography-8c31320-line-height: 1.1em;
        --e-global-typography-97377d1-font-size: 16px;
        --e-global-typography-97377d1-line-height: 1.5em;
        --e-global-typography-d067ff2-font-size: 14px;
        --e-global-typography-d067ff2-line-height: 1.5em;
        --e-global-typography-43708dc-font-size: 14px;
        --e-global-typography-43708dc-line-height: 1.5em;
        font-size: var( --e-global-typography-accent-font-size );
        line-height: var( --e-global-typography-accent-line-height );
    }

    .elementor-kit-7 a {
        font-size: var( --e-global-typography-accent-font-size );
        line-height: var( --e-global-typography-accent-line-height );
    }

    .elementor-kit-7 h1 {
        font-size: var( --e-global-typography-f60c399-font-size );
        line-height: var( --e-global-typography-f60c399-line-height );
        letter-spacing: var( --e-global-typography-f60c399-letter-spacing );
        word-spacing: var( --e-global-typography-f60c399-word-spacing );
    }

    .elementor-kit-7 h2 {
        font-size: var( --e-global-typography-f4c4925-font-size );
        line-height: var( --e-global-typography-f4c4925-line-height );
        letter-spacing: var( --e-global-typography-f4c4925-letter-spacing );
        word-spacing: var( --e-global-typography-f4c4925-word-spacing );
    }

    .elementor-kit-7 h3 {
        font-size: var( --e-global-typography-7551361-font-size );
        line-height: var( --e-global-typography-7551361-line-height );
        letter-spacing: var( --e-global-typography-7551361-letter-spacing );
        word-spacing: var( --e-global-typography-7551361-word-spacing );
    }

    .elementor-kit-7 h4 {
        font-size: var( --e-global-typography-fc8085a-font-size );
        line-height: var( --e-global-typography-fc8085a-line-height );
        letter-spacing: var( --e-global-typography-fc8085a-letter-spacing );
        word-spacing: var( --e-global-typography-fc8085a-word-spacing );
    }

    .elementor-kit-7 h5 {
        font-size: var( --e-global-typography-8c31320-font-size );
        line-height: var( --e-global-typography-8c31320-line-height );
        letter-spacing: var( --e-global-typography-8c31320-letter-spacing );
        word-spacing: var( --e-global-typography-8c31320-word-spacing );
    }

    .elementor-kit-7 h6 {
        font-size: var( --e-global-typography-00fff5a-font-size );
        line-height: var( --e-global-typography-00fff5a-line-height );
        letter-spacing: var( --e-global-typography-00fff5a-letter-spacing );
        word-spacing: var( --e-global-typography-00fff5a-word-spacing );
    }

    .elementor-section.elementor-section-boxed > .elementor-container {
        max-width: 1024px;
    }

    .e-con {
        --container-max-width: 1024px;
    }
}

@media(max-width: 767px) {
    .elementor-kit-7 {
        --e-global-typography-text-font-size:14px;
        --e-global-typography-text-line-height: 1.5em;
        --e-global-typography-accent-font-size: 14px;
        --e-global-typography-accent-line-height: 1.1em;
        --e-global-typography-f60c399-font-size: 30px;
        --e-global-typography-f60c399-line-height: 1.1em;
        --e-global-typography-f4c4925-font-size: 24px;
        --e-global-typography-f4c4925-line-height: 1.1em;
        --e-global-typography-7551361-font-size: 22px;
        --e-global-typography-7551361-line-height: 1.1em;
        --e-global-typography-fc8085a-font-size: 18px;
        --e-global-typography-fc8085a-line-height: 1.1em;
        --e-global-typography-8c31320-font-size: 16px;
        --e-global-typography-8c31320-line-height: 1.1em;
        --e-global-typography-97377d1-font-size: 16px;
        --e-global-typography-97377d1-line-height: 1.1em;
        --e-global-typography-d067ff2-font-size: 12px;
        --e-global-typography-d067ff2-line-height: 1.5em;
        --e-global-typography-43708dc-font-size: 14px;
        --e-global-typography-43708dc-line-height: 1.5em;
        font-size: var( --e-global-typography-accent-font-size );
        line-height: var( --e-global-typography-accent-line-height );
    }

    .elementor-kit-7 a {
        font-size: var( --e-global-typography-accent-font-size );
        line-height: var( --e-global-typography-accent-line-height );
    }

    .elementor-kit-7 h1 {
        font-size: var( --e-global-typography-f60c399-font-size );
        line-height: var( --e-global-typography-f60c399-line-height );
        letter-spacing: var( --e-global-typography-f60c399-letter-spacing );
        word-spacing: var( --e-global-typography-f60c399-word-spacing );
    }

    .elementor-kit-7 h2 {
        font-size: var( --e-global-typography-f4c4925-font-size );
        line-height: var( --e-global-typography-f4c4925-line-height );
        letter-spacing: var( --e-global-typography-f4c4925-letter-spacing );
        word-spacing: var( --e-global-typography-f4c4925-word-spacing );
    }

    .elementor-kit-7 h3 {
        font-size: var( --e-global-typography-7551361-font-size );
        line-height: var( --e-global-typography-7551361-line-height );
        letter-spacing: var( --e-global-typography-7551361-letter-spacing );
        word-spacing: var( --e-global-typography-7551361-word-spacing );
    }

    .elementor-kit-7 h4 {
        font-size: var( --e-global-typography-fc8085a-font-size );
        line-height: var( --e-global-typography-fc8085a-line-height );
        letter-spacing: var( --e-global-typography-fc8085a-letter-spacing );
        word-spacing: var( --e-global-typography-fc8085a-word-spacing );
    }

    .elementor-kit-7 h5 {
        font-size: var( --e-global-typography-8c31320-font-size );
        line-height: var( --e-global-typography-8c31320-line-height );
        letter-spacing: var( --e-global-typography-8c31320-letter-spacing );
        word-spacing: var( --e-global-typography-8c31320-word-spacing );
    }

    .elementor-kit-7 h6 {
        font-size: var( --e-global-typography-00fff5a-font-size );
        line-height: var( --e-global-typography-00fff5a-line-height );
        letter-spacing: var( --e-global-typography-00fff5a-letter-spacing );
        word-spacing: var( --e-global-typography-00fff5a-word-spacing );
    }

    .elementor-section.elementor-section-boxed > .elementor-container {
        max-width: 767px;
    }

    .e-con {
        --container-max-width: 767px;
    }
}
