/*------------------------------------------------------------------
[Master Stylesheet]
Project: RedLight
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Table of contents]
1. Body
2. Header / #header
3. Banner Section / #banner
4. Services-Section
5. About us Section
6. Accordian Section
7. Pricing plan section
8. Our teams Section
9. Blogs Section
10. Form Section
11. Footer Section
*/

body {
    font-family: "Jost", sans-serif !important;
  }
  :root {
    --e-global-color-white: #ffffff;
    --e-global-color-red: #c12e2f;
    --e-global-color-accent: #f43334;
    --e-global-color-white-banner-text: #fffefe;
    --e-global-color-grey-icons: #999999;
    --e-global-color-yellow-buttons: #eb9500;
    --e-global-color-primary: #161616;
    --e-global-color-card-text: #585858;
    --e-global-color-red-border: #ca2f30;
    --e-global-color-red-active: #cd3030;
    --e-global-color-dark-icons-background: #202020;
    --e-global-color-dark-marron: #4a2424;
    --e-global-color-black-cards-bacground: #191919;
    --e-global-color-grey-cyber-box: #777777;
    --e-global-color-about-teams-red: #ad2d2d;
    --e-global-color-about-teams-background: #101010;
    --e-global-color-stars: #666666;
    --e-global-color-form-text: #898989;
    --e-global-color-form: #2e1c1c;
    --e-global-color-coming-soon: #737373;
  }
  body{
    background-image: linear-gradient( 109deg, var(--e-global-color-dark-marron) 0%, var(--e-global-color-dark-icons-background) 18% );
  }
  
  /* body{
    background-image: url(../img/redlight-overlay-1.png);
    background-position: top left;
    background-size: default;
    background-repeat: no-repeat;
    background-attachment: unset !important;
  } */
  html {
    scroll-behavior: smooth;
  }
  h1 {
    font-size: 60px;
    line-height: 80px;
    font-weight: 600;
    word-spacing: 10px;
    letter-spacing: -4px;
  }
  h2 {
    font-size: 46px;
    line-height: 52px;
    font-weight: 600;
    color: var(--e-global-color-primary);
  }
  h3 {
    font-size: 40px;
    line-height: 46px;
    font-weight: bold;
    color: var(--e-global-color-white-banner-text);
  }
  h4 {
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    color: var(--e-global-color-grey-icons);
  }
  
  h5 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    color: var(--e-global-color-white);
    letter-spacing: 0.8px;
    margin-bottom: 11px;
  }
  h6 {
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    color: var(--e-global-color-yellow-buttons);
    text-transform: uppercase;
  }
  p {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
  }
  a {
    font-size: 18px;
    line-height: 18px;
    font-weight: 600;
    font-family: "Jost", sans-serif !important;
  }
  /*Animations*/
  .logo-box figure img {
    filter: brightness(0) invert(1);
  }
  /* Services Widget */
  .about-us-section-start .about-us-content {
    background: var(--e-global-color-black-cards-bacground);
    border-radius: 5px;
    padding: 37px 28px 28px 36px;
    transition: 0s all ease-in-out;
    border-bottom: 3px solid var(--e-global-color-black-cards-bacground);
    transition: transform ease 300ms;
    margin-bottom: 30px;
  }
  .about-us-section-start .about-us-content:hover h3{
    color: var(--e-global-color-white-banner-text);
  }
  .about-us-section-start .about-us-content:hover .pricing-plan-h4{
    color: var(--e-global-color-white-banner-text);
  }
  .about-us-section-start .about-us-content:hover .icons-rounded-box figure img{
    color: var(--e-global-color-white-banner-text);
    filter: brightness(0) invert(1) !important;
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: gray;
  }
  .about-us-section-start .about-us-content:hover .icons-rounded-box {
  background: var(--e-global-color-accent);
  }
  .about-us-section-start .about-us-content:hover{
    background-image: linear-gradient( 143deg, var(--e-global-color-accent) -24%,  var(--e-global-color-black-cards-bacground) 20% );
    transform: translate(0, -10px);
    }
  .about-us-section-start .about-us-content:hover .order-now-btn a{
    background: var(--e-global-color-accent);
    border: 1px solid var(--e-global-color-accent);
  }
  
  .about-us-section-start .about-us-content:hover {
    border-bottom: 3px solid var(--e-global-color-red-border);
  }
  
  .about-us-section-start .about-us-content:hover h4{
  color: var(--e-global-color-white-banner-text);
  }
  .about-us-section-start .about-us-content .icons-rounded-box {
    background: var(--e-global-color-dark-icons-background);
    padding: 12px 14px;
    display: inline-block;
    border-radius: 10px;
    margin-bottom: 23px;
  }
  .about-us-section-start .about-us-content .icons-rounded-box .icon-color img {
    -webkit-filter: grayscale(100%); 
    filter: gray;
  }
  .about-us-section-start .about-us-content h4 {
    margin-bottom: 31px;
  }
  .about-us-section-start .about-us-content  a{
   color: var(--e-global-color-grey-icons);
   font-size: 16px;
   line-height: 26px;
   font-weight: 400;
   letter-spacing: 0px;
  }
  .about-us-section-start .security-services-p{
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: var(--e-global-color-grey-icons);
    padding: 0;
    margin-bottom: 28px;
  }
  .about-us-content .forword-arrow i{
    font-size: 12px;
      line-height: 12px;
      margin-left: 0px;
  }
  
  /* Counter Section Animation */
  .counters-section .counterr:hover{
    background-image: linear-gradient( 143deg, var(--e-global-color-accent) -24%,  var(--e-global-color-black-cards-bacground) 20% );
    transform: translate(0, -10px);
  }
  .counters-section .counterr:hover img{
    color: var(--e-global-color-white-banner-text);
    filter: brightness(0) invert(1) !important;
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: gray;
  }
  .counters-section .counterr:hover .elementor-widget-image .elementor-widget-container{
    background-color: var(--e-global-color-accent);
  }
  /* Pricing Plan Animation*/
  .pricing-plan .plan:hover{
    background-image: linear-gradient( 143deg, var(--e-global-color-accent) -24%,  var(--e-global-color-black-cards-bacground) 20% );
    transform: translate(0, -10px);
  }
  .pricing-plan .plan:hover img{
    color: var(--e-global-color-white-banner-text);
    filter: brightness(0) invert(1) !important;
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: gray;
  }
  .pricing-plan .plan:hover .elementor-widget-image .elementor-widget-container{
    background-color: var(--e-global-color-accent) !important;
  }
  .pricing-plan .plan:hover h4{
    color: var(--e-global-color-white) !important;
  }
  .pricing-plan .plan:hover a{
    background-color: var(--e-global-color-accent) !important;
    border-color: var(--e-global-color-accent) !important;
  }
  /*Our Team Animation*/
  .teams-section .teams-inner img {
    opacity: .5;
    filter: brightness(100%) contrast(100%) saturate(0%) blur(0) hue-rotate(0deg);
    transition-duration: 0.5s;
  }
  .teams-section .teams-inner:hover img{
    opacity: 2.5;
    filter: brightness(100%) contrast(98%) saturate(137%) blur(0) hue-rotate(0deg) !important;
    transition-duration: 0.5s;
  }
  .teams-section .teams-inner:hover span{
  color: var(--e-global-color-accent) !important;
  }
  .teams-section .teams-inner:hover h4{
    color:var(--e-global-color-white-banner-text) !important;
    }
  
  /* Subscription Form */
  .subscription-form .form-button button{
    font-size: 18px;
    font-weight: 600;
   line-height: 2px !important;
    color: var(--e-global-color-white-banner-text);
    background: var(--e-global-color-accent);
  }
  .subscription-form .form-button button a{
   text-decoration: none;
   font-size: 18px;
   font-weight: 600;
   color: var(--e-global-color-white-banner-text);
  }
  .subscription-form .form-button button:hover {
    color: var(--e-global-color-white-banner-text) !important;
    background: var(--e-global-color-yellow-buttons) !important;
  }
  .subscription-form .input-field-form{
    width: 52% !important;
    text-align: center;
    float: none;
     margin: 0 auto;
  }
  .subscription-form .input-form-input{
    padding: 0px 20px 0px 28px;
    border-radius: 10px 10px 10px 10px;
    font-size: 18px;
    height: 70px;
    font-weight: 400;
    line-height: 24px;
    color:var(--e-global-color-grey-icons);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var(--e-global-color-primary);
    transition: background 0.3s,border 0.3s,border-radius 0.3s,box-shadow 0.3s;
  }
  .subscription-form .btn-form-section{
    position: absolute;
    right: 7px;
    top: 5px;
    padding: 15px 33px 15px 32px !important;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-radius: 5px 5px 5px 5px;
  }
  .subscription-form .input-group>.input-group-append>.btn{
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
  }
  .subscription-form .input-group>.form-control:focus {
    z-index: 2;
  }
  .subscription-form .form-section .btn-form-section:hover{
    color: var(--e-global-color-white-banner-text);
    background: var(--e-global-color-yellow-buttons);
  }
  .subscription-form .form-section{
    background-image: linear-gradient( 134deg, var(--e-global-color-form) 17%, var(--e-global-color-black-cards-bacground) 33% );
    border-radius: 5px;
    padding: 88px 34px 88px 32px;
    transition: 0s all ease-in-out;
    cursor: pointer;
    transition: transform ease 300ms;
  }
  .subscription-form  .input-group>.form-control:not(:last-child) {
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
  }
  
  /*blog post widget styling*/
  .blogs-section .images-blog {
    overflow: hidden;
    transition: transform ease 300ms;
    border-radius: 10px;
  }
  .blogs-section .images-blog:hover figure img{
      -webkit-transform: scale(1);
      transform: scale(1.1);
      -webkit-transition: .3s ease-in-out;
      transition: .3s ease-in-out;
    transition: transform ease 300ms;
  }
  .blogs-section .images-blog figure img {
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    transition: transform ease 300ms;
  }
  .blogs-section .images-blog:hover{
    border-radius: 10px;
  }
  .blogs-section h3{
    margin-bottom: 25px;
  }
  .blogs-section .blogs-section{
    padding: 30px;
  }
  .blogs-section a {
    text-decoration: none;
  }
  .blogs-section .blogs-h5{
    color: var(--e-global-color-grey-cyber-box);
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 0;
    letter-spacing: 0px;
    padding: 33px 10px 30px;
    text-decoration: none;
  }
  .blogs-section .blogs-p{
    color: var(--e-global-color-grey-cyber-box);
    font-size: 15.91px;
    line-height: 26px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 0;
    padding:0;
    text-decoration: none;
  }
  .blogs-section:hover .blogs-h5 {
    color: var(--e-global-color-white-banner-text);
  }
   .blogs-section{
    background: var(--e-global-color-black-cards-bacground) ;
    border-radius: 10px;
    padding: 26px 30px 34px 30px;
    transition: 0s all ease-in-out;
    cursor: pointer;
    border: 3px solid var(--e-global-color-black-cards-bacground);
    transition: transform ease 300ms;
  }
  .blogs-section{
    margin-bottom: 20px;
  }
  
  /* accordian-section */
  .faq-section .elementor-toggle-item .elementor-tab-title{
    padding: 15px 30px 15px 25px !important;
    text-decoration: none;
    display: block;
    text-align: left;
    position: relative;
    background: var(--e-global-color-black-cards-bacground);
    font-size: 20px !important;
    line-height: 30px;
    font-weight: 600;
    border-radius: 8px;
    margin-bottom: 20px;
    width: 100%;
    transition: ease-in-out 0.3s;
    box-shadow: none;
  }
  .faq-section .elementor-toggle-item .elementor-tab-title a{
    font-size: 20px !important;
    line-height: 30px;
    font-weight: 600;
  }
  .faq-section .elementor-tab-content{
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    margin-bottom: 0;
    letter-spacing: 0;
  }
  .faq-section .elementor-toggle-item{
    margin-left: 9px;
  }
  .faq-section .elementor-toggle .elementor-tab-title.elementor-active {
    background: var(--e-global-color-accent) !important;
  }
  .faq-section .elementor-tab-content{
    color: var(--e-global-color-grey-icons);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 0 0px !IMPORTANT;
    margin-bottom: 14px;
  }
  .faq-section .elementor-tab-content{
    padding-top: 0px;
    padding-left: 29px !important;
    margin-bottom: 30px !important;
  }
  .elementor-tab-title .elementor-toggle-icon-opened svg{
    margin-top: 6px;
  }
  /* Testimonial CSS*/
  .clients-section .clients-outer-box{
    background: var(--e-global-color-black-cards-bacground);
    padding: 41px 38px 19px;
    border-radius: 11px;
    border-bottom: 3px solid var(--e-global-color-black-cards-bacground);
  }
  .clients-section .clients-outer-box .clients-outer-box-figure{
    float: left;
    margin-bottom: 0;
    margin-right: 20px !important;
  }
  .clients-section .clients-outer-box .clients-sectionp2{
    padding: 0 0px 0 2px;
    margin-bottom: 28px;
    color: var(--e-global-color-grey-cyber-box);
  
  }
  .clients-section .clients-outer-box .icon-figure-quotes{
    right: 38px;
  }
  .clients-section .clients-right-content .spencer-span{
    color: var(--e-global-color-grey-cyber-box);
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
    display: block;
    margin-bottom:10px;
  }
  .clients-section .clients-right-content .ceo-p{
    color: var(--e-global-color-accent);
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    padding: 0;
    display: block;
    margin-bottom: 20px;
    letter-spacing: 1px;
  }
  .clients-section  .clients-right-content{
    margin-left: 12px;
    padding-top: 20px;
    margin-bottom: 49px;
  }
  .clients-section .clients-outer-box ul li{
    display: inline;
  }
  .clients-section .clients-outer-box ul li i{
    color: var(--e-global-color-stars);
    letter-spacing: -4px;
  }
  .clients-section .clients-outer-box:hover ul li i{
    color: var(--e-global-color-accent);
    letter-spacing: -4px;
  }
  .clients-section .clients-outer-box:hover{
    background-image: linear-gradient( 147deg, var(--e-global-color-accent) -85%, var(--e-global-color-black-cards-bacground) 38% );
    border-bottom: 3px solid var(--e-global-color-red-border);
  }
  .clients-section .clients-outer-box-figure img{
    filter: grayscale(1);
  }
  .clients-section .clients-outer-box:hover img{
    filter: grayscale(0) !important;
  }
  .clients-section .owl-carousel .owl-dots {
    display: block !important;
    margin-top: 40px !important;
    line-height: 0;
    text-align: center;
  }
  .clients-section .owl-carousel .owl-dots .owl-dot span{
    display: block;
    margin: 5px;
    border-radius: 10px !important;
  }
  .clients-section .owl-carousel .owl-dots .owl-dot.active span {
    width: 15px !important;
  }
  .clients-section .owl-carousel .owl-dots button:focus{
    outline: none !important;
  }
  /*Contact page styling*/
  .contact-us-section .input-text {
    border: 1px solid  var(--e-global-color-dark-icons-background);
    -webkit-transition: 1s;
    transition: 1s;
    padding: 32px 30px;
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    color: var(--e-global-color-form-text);
    background: var(--e-global-color-dark-icons-background);
  }
  .contact-us-section .input-text:hover{
    color: var(--e-global-color-accent);
    border: 1px solid  var(--e-global-color-accent);
    outline: none;
  }
  .contact-us-section .input-text:focus{
    color: var(--e-global-color-accent);
    border: 1px solid  var(--e-global-color-accent);
  }
  .contact-us-section textarea.form-control {
    height: 167px;
    background: var(--e-global-color-dark-icons-background);
    border: 1px solid  var(--e-global-color-dark-icons-background);
    color: var(--e-global-color-form-text);
    padding: 20px 29px;
  }
  .contact-us-section textarea.form-control:hover {
    color: var(--e-global-color-accent);
    border: 1px solid  var(--e-global-color-accent);
  }
  .contact-us-section .contact-li{
    float: left;
    width: 100%;
  }
  .contact-us-section  input:focus, textarea:focus, select:focus{
    outline: none;
  }
  .contact-us-section .contact-us-title {
    margin-bottom: 28px;
    padding: 0 27px 0 0;
  }
  .contact-us-section  p {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: var(--e-global-color-grey-icons);
    padding: 0 10px 0 0;
    margin-bottom: 20px;
  }
  .contact-us-section .about-section-form{
    padding-top: 10px;
  }
  .contact-us-section .contact-form-margin{
    margin-bottom: 24px;
  }
  .contact-us-section .contact-section-btn .btn{
    color:var(--e-global-color-white-banner-text);
    font-size: 18px;
    line-height: 18px;
    font-weight: 600;
    padding: 22px 40px 25px;
    display: block;
    background: var(--e-global-color-accent);
    border-radius: 8px;
    border:none;
    width: 100%;
  }
  .contact-us-section .contact-section-btn .btn:hover{
    background-color: var(--e-global-color-yellow-buttons);
  }
  .contact-us-section .contact-form-margin-text-area{
    margin-bottom: 20px;
  }
  .contact-us-section .form-control:focus {
    box-shadow: none;
  }
  
  /*GDPR CSS*/
  #moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme{
      border-top:0px !important;
  }
  /* GDPR Cookie Plugin CSS*/
  #moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content button.change-settings-button:hover{
    color: var(--e-global-color-black) !important;
    background-color: transparent !important;
    background-image: none !important;
  }
  #moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content button.change-settings-button:focus{
    outline: none !important;
    border: 0px !important;
    box-shadow: none !important;
  }
  #moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container{
    background-color: #fff;
    border-radius: 6px;
    margin-bottom: 30px;
    padding: 20px !important;
    box-shadow: 1px 3px 8px 1px rgba(0,0,0,0.1);
  }
  #moove_gdpr_cookie_info_bar .moove-gdpr-cookie-notice p{
    font-family: 'jost' !important;
    font-weight: 400 !important;
    line-height: 24px !important;
    font-size: 14px !important;
    color: #000 !important;
  }
  #moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content a.mgbutton, #moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content button.mgbutton {
    font-size: 14px !important;
    font-weight: 400 !important;
    font-family: 'jost' !important;
    cursor: pointer;
    box-shadow: 1px 3px 8px 1px rgba(0,0,0,0.1);
    background-color: black !important;
    color: #fff !important;
  }
  #moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme{
    background-color: transparent !important;
  }
  #moove_gdpr_cookie_info_bar .change-settings-button{
    text-decoration: none !important;
    font-weight: 700 !important;
  }
  #moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content button.mgbutton{
    border-radius: 6px !important;
  }
  #moove_gdpr_cookie_modal .moove-gdpr-modal-content.moove_gdpr_modal_theme_v1 .moove-gdpr-modal-footer-content .moove-gdpr-button-holder a.mgbutton, #moove_gdpr_cookie_modal .moove-gdpr-modal-content.moove_gdpr_modal_theme_v1 .moove-gdpr-modal-footer-content .moove-gdpr-button-holder button.mgbutton{
    border-radius: 6px !important;
    background-color: #f8f8f8 !important;
    color: #000 !important;
    border: 1px solid #4383EC !important;
    font-family: 'jost' !important;
  }
  #moove_gdpr_cookie_modal .moove-gdpr-modal-content.moove_gdpr_modal_theme_v1 .moove-gdpr-modal-footer-content .moove-gdpr-button-holder a.mgbutton, #moove_gdpr_cookie_modal .moove-gdpr-modal-content.moove_gdpr_modal_theme_v1 .moove-gdpr-modal-footer-content .moove-gdpr-button-holder button.mgbutton:hover{
    color: #000 !important;
  }
  #moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-tab-main .moove-gdpr-tab-main-content a, #moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-tab-main .moove-gdpr-tab-main-content button, #moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-tab-main .moove-gdpr-tab-main-content li, #moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-tab-main .moove-gdpr-tab-main-content p, 
  #moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-tab-main h3.tab-title, #moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-tab-main span.tab-title, 
  #moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content #moove-gdpr-menu li a span.gdpr-nav-tab-title, #moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content #moove-gdpr-menu li button span.gdpr-nav-tab-title,
  #moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content .moove-gdpr-branding-cnt a{
    font-family: 'jost' !important;
  }
  #moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content #moove-gdpr-menu li.menu-item-selected button:hover{
    color: #000 !important;
  }
  #moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close i, #moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close span.gdpr-icon{
    background-color: #000 !important;
    border: 1px solid #000 !important;
  }
  #moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close span.gdpr-icon:hover{
    color: #fff !important;
  }
  #moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme{
    border-top:0px !important;
  }
  
  /*CONTACT Form Styling*/
  .contact-us-section .wpcf7 form .wpcf7-response-output{
    color: var(--e-global-color-accent);
    font-weight: 400 !important;
  }
  
  
  /*Navbar Styling*/
  .navbar-area .nav-container .navbar-collapse .navbar-nav{
    padding-top: 10px;
  }
  /* .nav-transparent .nav-container .navbar-collapse .navbar-nav > li:last-child{
    margin-right: 0px !important;
  } */
  .nav-transparent .nav-container .navbar-collapse .navbar-nav > li:last-child a {
    padding: 10px 36px;
    background-color: var(--e-global-color-accent);
    color: var(--e-global-color-white);
    border-radius: 6px;
    margin-left: 80px;
  }
  .nav-transparent .nav-container .navbar-collapse .navbar-nav > li:last-child:hover a{
    background-color: var(--e-global-color-white);
    color: var(--e-global-color-accent) !important;
  }
  .navbar-area .nav-container .navbar-nav li.menu-item-has-children > .sub-menu{
    border-radius: 6px !important;
    background: #5B1213 !important;
    color: var(--e-global-color-white) !important;
  }
  .navbar-area .nav-container .navbar-nav li.menu-item-has-children > .sub-menu a{
    background-color: transparent !important;
  }
  .navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children .sub-menu li + li{
    border-top: 0px !important;
  }
  .navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children .sub-menu li a{
    font-size: 16px !important;
  }
  .nav-transparent .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children .sub-menu {
    top: 80% !important;
  }
  .nav-transparent .nav-container .navbar-collapse .navbar-nav > li.current-menu-item:last-child a{
    color: var(--e-global-color-white) !important;
  }
  .cart-btn{
    background-color: #77777778;
    padding: 0px 10px;
    border-radius: 6px;
    margin-top: 7px;
  }
  span.cart-contents-count {
    top: -4px !important;
    right: -16px !important;
  }
  .video-button-icon img{
    width: 17px !important;
    height: 19px !important;
  }
  .footer-area .footer-bottom .copyright {
    margin-top: -10px !important;
  }
  .elementor-shortcode .mc4wp-response .mc4wp-alert p{
      color:#f43334 !important;
      text-align:center !important;
  }
  /*Case Study Widget CSS*/ 
  .heading-background {
    background: #161616;
    padding: 6px 20px;
    text-align: center;
    display: inline;
    letter-spacing: 0px;
    word-spacing: -1px;
    border-radius: 3px;
  }
  .cards-section .cards-outer:hover .card-heading-p,.cards-section .cards-outer:hover .date-p,.cards-section .cards-outer:hover h6{
    color: var(--e-global-color-white);
  }
  .cards-section .card-heading-p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: var(--e-global-color-grey-icons);
    padding: 25px 32px 0 4px;
    margin-bottom: 17px;
  }
  
  .cards-section .cards-outer::after {
    content: "";
    border-right: 1px solid var(--e-global-color-grey-icons);
    height: 140px;
    position: absolute;
    right: 52px;
    top: 0;
    border-right-style: dashed;
  }
  .cards-section .cards-outer h6 {
    margin-bottom: 20px;
  }
  .cards-section .date-p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: var(--e-global-color-grey-icons);
    padding: 0 3px;
  }
  .cards-section .outer-padding-left {
    padding-right: 36px;
    margin-left: -13px;
  }
  .outer-padding-left-last{
    padding-left: 0;
    padding-right: 0;
  }
  .cards-section .outer-card1{
    margin-left: -21px;
  }
  .cards-section .outer-card2{
    padding-left: 11px;
  }
  .cards-section .outer-card3{
    padding-left: 7px;
    padding-right: 0;
  }
  .cards-section .col-lg-4:last-child .cards-outer::after{
    display: none;
  }
  .clients-section .testimonial-carousel-section2 .clients-right-content {
    margin-left: 12px;
    padding-top: 5px;
    margin-bottom: 10px;
  }
  .elementor-counter-number-suffix{
      font-size: 20px;
      line-height: 26px;
  }